<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

    <main layout:fragment="content">
        <h1 th:text="#{도서등록}"></h1>
        <!--[[${requestBook}]]-->
        <form name="frmRegist" method="post" th:action="@{/book/regbook}" autocomplete="off" th:object="${requestBook}">
            <dl>
                <dt th:text="#{책제목}"></dt>
                <dd>
                    <input type="text" name="title" th:field="*{title}">
                    <div th:each="err : ${#fields.errors('title')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{작가코드}"></dt>
                <dd>
                    <input type="text" name="authorCd" th:field="*{authorCd}">
                    <th:block th:text="${authors[requestBook.authorCd].authorName}"</th:block>
                    <div th:each="err : ${#fields.errors('authorCd')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{출판사}"></dt>
                <dd>
                    <input type="text" name="publisher" th:field="*{publisher}">
                    <div th:each="err : ${#fields.errors('publisher')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{발행년도}"></dt>
                <dd>
                    <input type="text" name="pubYear" th:field="*{pubYear}">
                    <div th:each="err : ${#fields.errors('pubYear')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{내용}"></dt>
                <dd>
                    <input type="text" name="content" th:field="*{content}">
                    <div th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
                </dd>
            </dl>
            <div>
            <button type="submit"  th:if="*{seq == null}" th:text="#{도서등록}"></button><br>
            <button type="submit"  th:if="*{seq != null}" th:text="#{도서수정}"></button><br>
            <a th:href="@{/book/list}" th:text="#{도서목록}"></a>
            </div>
            <input type="hidden" name="seq" th:field="*{seq}">
        </form>
    </main>

</html>