<!DOCTYPE html>
<html xmlns:th=="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>회원정보</h1>

        <!--<div th:object="${member}">-->
        <th:block th:object="${member}">
            <dl>
                <dt th:text="#{이메일}">이메일</dt>
                <!--<dd th:text="${member.email}"></dd>-->
                <dd th:text="*{email}"></dd>
            </dl>
            <dl>
                <dt th:text="#{회원명}">회원명</dt>
                <dd th:utext="*{userName}"></dd>
            </dl>
            <dl>
                <dt th:text="#{가입일시}">가입일시</dt>
                <dd th:text="*{regDt}"></dd>
            </dl>
            <a href="#" th:href="@{/member/login}">로그인</a><br>
            <a th:href="@{/member/login(p1=*{email}, p2=*{userName})}">로그인</a><br>
            <a th:href="@{/member/info/{email}(email=*{email})}">로그인</a><br>

        </th:block>
    </body>
</html>